<!-- svg class d-none -->

<!-- nav -->

<main>
    <div class="container-fluid px-4">
        <h1 class="my-4">Page principale</h1>

        <!-- Création des votes -->
        <app-election/>

        <hr/>

        <!-- Spécification de la Chambre -->

        <div class="card mb-4">
            <div class="card-header">
                Chambre
            </div>
            <div class="card-body">
                <p>
                    Nombre de sièges
                </p>
                <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#parliamentarchCollapsable">
                    Options avancées
                </button>
                <div id="parliamentarchCollapsable" class="collapse">
                    <div class="card card-body">
                        Contenu
                    </div>
                </div>
            </div>
        </div>

        <!-- gros bouton de validation -->
    </div>
</main>

<footer class="py-4 bg-secondary mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Gouvernathor 2025</div>
            <div>
                <a href="https://github.com/Gouvernathor/Eligo">Code source</a>
                &middot;
                <a href="https://github.com/Gouvernathor/Eligo/issues/new">Signaler un problème</a>
            </div>
        </div>
    </div>
</footer>
