<!-- svg class d-none -->

<!-- nav -->

<main>
    <div class="container-fluid px-4">
        <h1 class="my-4">Page principale</h1>

        <!-- onglets -->
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
            <!-- Création des votes -->
            <ng-container ngbNavItem>
                <button ngbNavLink>Election</button>
                <ng-template ngbNavContent>
                    <app-election/>
                </ng-template>
            </ng-container>

            <!-- Spécification de la Chambre -->
            <ng-container ngbNavItem>
                <button ngbNavLink>Chambre</button>
                <ng-template ngbNavContent>
                    <app-house/>
                </ng-template>
            </ng-container>

            <!-- gros bouton de validation -->
        </nav>

        <!-- contenu de l'onglet sélectionné -->
        <div [ngbNavOutlet]="nav" class="mt-2"></div>
    </div>
</main>

<footer class="py-4 bg-secondary mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Gouvernathor 2025</div>
            <div>
                <a href="https://github.com/Gouvernathor/Eligo">Code source</a>
                &middot;
                <a href="https://github.com/Gouvernathor/Eligo/issues/new">Signaler un problème</a>
            </div>
        </div>
    </div>
</footer>
