<!-- svg class d-none -->

<!-- nav -->

<main>
    <div class="container-fluid px-4">
        <h1 class="my-4">Page principale</h1>

        <!-- Création des votes -->

        <div class="card mb-4">
            <div class="card-header">
                Candidats
            </div>
            <div class="card-body">
                <div id="candidatsContainer" class="mb-2">
                    @for (candidat of baseSignals.candidats().values(); track candidat.id) {
                        <div class="card mb-3" [id]="'candidatCard_'+candidat.id"> <!-- partycard -->
                            <div class="card-body"> <!-- partycardbody -->
                                <div class="row g-3 mb-3"> <!-- first row -->
                                    <div class="col-auto"> <!-- namecol -->
                                        <div class="form-floating"> <!-- namediv -->
                                            <input type="text" class="form-control" id="candidatName_{{candidat.id}}" [value]="candidat.name()" placeholder="Nom du parti" (change)="onSetCandidatName(candidat, $event)"/>
                                            <label for="candidatName_{{candidat.id}}">Nom du parti</label>
                                        </div>
                                    </div>
                                    <div class="col-auto"> <!-- colorcol -->
                                        <div class="form-floating"> <!-- colordiv -->
                                            <input class="form-control" data-jscolor="" id="candidatColor_{{candidat.id}}" [value]="candidat.color()" (change)="onSetCandidatColor(candidat, $event)"/>
                                            <label for="candidatColor_{{candidat.id}}">Couleur du parti</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row g-3 mb-3"> <!-- secondrow -->
                                    <div class="col-auto"> <!-- borderWidthCol -->
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="candidatBorderWidth_{{candidat.id}}" [value]="candidat.borderWidth()" (change)="onSetCandidatBorderWidth(candidat, $event)"/>
                                            <label for="candidatBorderWidth_{{candidat.id}}">Épaisseur de la bordure</label>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="form-floating">
                                            <input class="form-control" data-jscolor="" id="candidatBorderColor_{{candidat.id}}" [value]="candidat.borderColor()" (change)="onSetCandidatBorderColor(candidat, $event)"/>
                                            <label id="candidatBorderColor_{{candidat.id}}">Couleur de la bordure</label>
                                        </div>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-danger d-inline-block" id="deleteCandidat_{{candidat.id}}" (click)="onDeleteCandidat(candidat.id)">Supprimer</button>
                            </div>
                        </div>
                    }
                </div>

                <button id="addCandidatButton" (click)="onAddCandidat()" class="btn btn-success">
                    Ajouter un candidat
                </button>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Mode de scrutin
            </div>
            <div class="card-body">
                <div class="mb-1">Type de vote</div>
                <!-- liste simple avec checkbox rondes, ou menu déroulant -->
                <ul id="votingMethodContainer" class="list-group mb-2 w-25">
                    @for (method of VotingMethod.values(); track method.id) {
                        <li class="list-group-item">
                            <input class="form-check-input me-1" type="radio" name="votingMethod" [value]="method.id" [id]="'votingMethod_'+method.id" (click)="onSetVotingMethod(method)"/>
                            <label class="form-check-label stretched-link" [htmlFor]="'votingMethod_'+method.id">{{method.desc}}</label>
                        </li>
                    }
                </ul>

                <div class="mb-1">Type d'attribution</div>
                <!-- liste d'attributions possibles, grisées en fonction du type de vote -->
                <!-- liste d'options pour cette attribution -->
                <div id="attributionMethodContainer" class="mb-2"></div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Bulletins
            </div>
            <div class="card-body">
                <label for="nbElecteursManuel" class="form-label">Nombre d'électeurs</label>
                <div class="input-group">
                    <input id="nbElecteursManuel" class="w-auto form-control" aria-describedby="nbElecteursManuelHelp" type="number" [value]="nbElecteursManuelVisible()" [min]="computedSignals.nbVotes()" autocomplete="off" [disabled]="baseSignals.nbElecteursManuel() === null" (change)="onSetNbElecteursManuel($event)"/>
                    <input type="checkbox" class="btn-check" id="toggleElecteursManuel" autocomplete="off" (click)="onToggleElecteursManuel($event)"/>
                    <label for="toggleElecteursManuel" class="btn btn-outline-primary">
                        Entrer manuellement le nombre d'électeurs
                    </label>
                </div>
                <div id="nbElecteursManuelHelp" class="form-text">
                    Pris en compte pour le calcul de l'abstention
                </div>

                <div id="bulletinsContainer" class="card card-body mt-3 gap-2">
                    @if (baseSignals.votingMethod() !== null) {
                        @let authorizeDelete = baseSignals.votingMethod() !== VotingMethod.UNIQUE;
                        @let progressBase = Math.max(1, computedSignals.nbElecteurs());
                        @for (bulletin of computedSignals.relevantBulletins(); track bulletin.id) {
                            @let percent = (baseSignals.votes().get(bulletin.id)! / progressBase * 100).toFixed(2) + "%";
                            <!-- TODO mettre à jour le diagramme sommaire avec les pourcentages (?) -->

                            <div class="card" id="bulletinCard_{{bulletin.id}}" style="display: grid;">
                                @let progressColorAndText = getBulletinProgressColorAndText(bulletin);
                                <div class="progress h-auto stacked">
                                    <div class="progress-bar" [style.width]="percent" [style.backgroundColor]="progressColorAndText.progressColor"></div>
                                </div>
                                <div class="card-body stacked row gap-3"> <!-- bulletincardbody -->
                                    <!-- TODO ajuster les col-x en fonction de la taille des éléments -->
                                    <!-- pê donner une largeur fixe à certains éléments comme les boutons + et - -->
                                    <div class="col">
                                        <span class="text-bg-secondary rounded px-2 py-1">
                                            {{progressColorAndText.text}}
                                        </span>
                                    </div>
                                    <div class="col-1 d-flex justify-content-end">
                                        <span class="text-end text-bg-primary rounded px-2 py-1">
                                            {{percent}}
                                        </span>
                                    </div>
                                    <button class="col-1 fw-bold btn btn-outline-warning" [disabled]="baseSignals.votes().get(bulletin.id)! <= 0" (click)="onDecrementVote(bulletin.id)">
                                        -
                                    </button>
                                    <button class="col-1 fw-bold btn btn-outline-success" (click)="onIncrementVote(bulletin.id)">
                                        +
                                    </button>

                                    @if (authorizeDelete) {
                                        <button class="col-3 btn btn-outline-danger" (click)="onDeleteBulletin(bulletin.id)">
                                            Supprimer
                                        </button>
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>

                @if ([VotingMethod.APPROBATION, VotingMethod.CLASSEMENT, VotingMethod.NOTES].includes(baseSignals.votingMethod()!)) {
                    <button id="bulletinFormButton" class="btn btn-success mt-2" data-bs-toggle="modal" data-bs-target="#bulletinFormModal" style="display: none;" (click)="onResetModalBulletinForm()" [disabled]="baseSignals.candidats().size === 0">
                        Ajouter un bulletin
                    </button>
                }

                <div id="bulletinFormModal" class="modal fade" data-bs-backdrop="static" tabindex="-1" aria-labelledby="bulletinFormModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 id="bulletinFormModalLabel" class="modal-title fs-5">
                                    Nouveau bulletin
                                </h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div id="bulletinFormInputContainer" class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                                    Annuler
                                </button>
                                <button id="bulletinFormFinish" type="button" class="btn btn-primary" (click)="onValiderBulletinForm()">
                                    Ajouter
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-4">
            <div class="card-header">
                Diagramme sommaire
            </div>
            <div class="card-body" id="chartSommaireContainer"></div>
        </div>

        <hr/>

        <!-- Spécification de la Chambre -->

        <div class="card mb-4">
            <div class="card-header">
                Chambre
            </div>
            <div class="card-body">
                <p>
                    Nombre de sièges
                </p>
                <button class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#parliamentarchCollapsable">
                    Options avancées
                </button>
                <div id="parliamentarchCollapsable" class="collapse">
                    <div class="card card-body">
                        Contenu
                    </div>
                </div>
            </div>
        </div>

        <!-- gros bouton de validation -->
    </div>
</main>

<footer class="py-4 bg-secondary mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Gouvernathor 2024</div>
            <div>
                <a href="https://github.com/Gouvernathor/Eligo">Code source</a>
                &middot;
                <a href="https://github.com/Gouvernathor/Eligo/issues/new">Signaler un problème</a>
            </div>
        </div>
    </div>
</footer>
