<div class="modal-header">
    <h1 id="bulletinFormModalLabel" class="modal-title fs-5">
        Nouveau bulletin
    </h1>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
</div>
<div id="bulletinFormInputContainer" class="modal-body">
    @switch (baseSignals.votingMethod()) {
        @case (VotingMethod.UNIQUE) {
            Error: creating new bulletins for Unique voting method is impossible
        }
        @case (VotingMethod.APPROBATION) {
            <app-bulletin-form-approb/>
        }
        @case (VotingMethod.CLASSEMENT) {
            <!-- drag-and-drop to reorder the candidates -->
            Error: not yet implemented
        }
        @case (VotingMethod.NOTES) {
            <app-bulletin-form-notes/>
        }

        @default {
            Error: unknown or not implemented voting method
        }
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">
        Annuler
    </button>
    <button id="bulletinFormFinish" type="button" class="btn btn-primary" (click)="close()">
        Ajouter
    </button>
</div>
